@import "grid";
@import "wordpress";
@import "navigation";

// MISC

.pad-top {
  padding-top: 20px;
}

.pad-right {
  padding-right: 20px;
}

.pad-bottom {
  padding-bottom: 20px;
}

.pad-left {
  padding-left: 20px;
}

// MAIN LAYOUT

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.header-wrap {
  background: #636363;
  min-height: 90px;
  position: relative;
  z-index: 5;
}

.slide-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
}
#cssmenu {
  margin-top: 20px;
}

.widget {
  padding: 30px 40px 30px 0;
}

.widget-page-list {
  list-style-type: none;
  li {
    ul {
      padding-left: 20px;
    }
  }
}
// widget arrow box

.arrow-box {
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
}
.arrow-box:after, .arrow-box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box:nth-child(1) {
  background: #ffb400;
  border: 4px solid #ffb400;
}

.arrow-box:nth-child(1),
.arrow-box:nth-child(1) h3 {
  color: #fff;
}

.arrow-box:nth-child(1):after {
  border-color: rgba(255, 180, 0, 0);
  border-top-color: #ffb400;
  border-width: 16px;
  margin-left: -16px;
}

.arrow-box:nth-child(2):before,
.arrow-box:nth-child(3):before,
.arrow-box:nth-child(4):before,
.arrow-box:nth-child(5):before {
  border-top: 2px solid #ffb400;
  width: 100%;
  left: 0;
  top: 0;
}

.arrow-box:nth-child(2) h3,
.arrow-box:nth-child(3) h3,
.arrow-box:nth-child(4) h3,
.arrow-box:nth-child(5) h3 {
  color: #ffb400;
}

.front-widget h3,
.project-title {
  color: #ffb400;
  border-top: 2px solid #ffb400;
  padding-top: 20px;
}

.widget-follow-us {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  li {
    display: inline-block;
    a {
      margin-right: 10px;
    }
  }
}

// STICKY FOOTER
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -90px;
  padding-bottom: 90px; // add padding
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 90px; 
}

footer {
  background: #2d2d2f;
  .copyright {
    margin-top: 35px;
    text-align: center;
    color: #fff;
  }
}

// flexslider2 tweak
.flexslider {
  margin: 0;
}

.flexslider .slides li {
  position:relative;
}

.flex-caption {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0, 0, 0,0.6);
  z-index:1;
  padding:10px;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
 }

.flex-direction-nav a  {
  line-height: 40px;
}

// PROJECTS

.project-holder,
.service-holder {
  width: 26%;
  float: left;
  padding: 10px 30px 30px 0;
  height: 200px;
  a,
  a:visited,
  a:hover {
    color: #444;
  }
}

.project-image,
.service-image {
  border: 1px solid #636363;
}

.project-image-title,
.service-image-title {
  padding: 10px 0 10px 0;
}

// FOOTER BANNER

.page-wrap {
  position: relative;
}

.footer-banner {
  position: absolute;
  width: 100%;
  right: auto;
  left: auto;
  bottom: 90px;
  z-index: -1;
}

.flexslider {
  background: transparent;
  border: 4px solid transparent;
}